footer {
  margin-top: 2rem;
  background: var(--primary-color);
  padding: 2rem;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
      color: var(--white);
    }
  }
}