header {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  background: var(--primary-color);
  padding: 1rem;
  margin-bottom: 1rem;
  .content {
    display: flex;
    justify-content: space-between;
  }
}